@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto",sanserif;
    background-color: rgba(0, 0, 0, 0.993);
    
}

.Qrcode{
    width: 200px;
    height: 200px;
    
}
.header{
    height: 100px;
    width: 100%;
}

.header h1 {
    background-color: #27ae68;
    padding:16px;
    padding-left: 30px;
    color:#fff;
    margin-top:0;
}
.header h1 span{
    background-color: #27ae68;
    font-weight: 400px;
    
}
.app-container{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.inner-box{
    margin-left: 100px;
}

.app-container h1{
    font-weight:600;
    font-size: 18px;
    color:#27ae68;
}
.Qrcode{
    padding: 5px;
}

.input-label{
    display:block;
    padding:12px;
    margin-bottom: 8px;
    color:#27ae68;
    font-size:15px;
    font-weight:500;
}

input[type="text"]{
    padding:14px;
    margin-bottom: 20px;
    width:80%;
    border: 2px solid #27ae68;
    border-radius: 20px;
    color:#fff; 
     
}

button{
    padding: 12px 20px;
    font-size:18px;
    color:#fff;
    border:none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    
}

.generate-btn{
    background-color: #27ae68;
    margin-left: 30px;
}

.generate-btn:disabled{
   background-color: #bdc3c7;
   cursor:not-allowed;
}

.download-btn{
    background-color: #27ae68;
    margin-left:20px;
}

.download-btn:hover{
    background-color: #09964d;
}

.footer{
    margin-top: 20px;
}
.footer p{
   text-decoration: none; 
   color:#fff;
}

.footer-span{
    color:#27ae68;
    font-weight: 300px;
    font-size: 18px;
}
 